# Byte-compiled / optimized / DLL files
experimental_notebooks/
__pycache__/
.coverage
*.py[cod]
*$py.class
*.cpython
*.pyc
*.egg-info/
*.egg
*.out

# C extensions
*.so

data/*
examples/neuro/si*
sbi-logs
.vscode
outputs
single_slurm_job.sh 
start_all_single_jobs.sh
multirun
*.pyc
slurm-*
pyloric_simulations
build
.eggs
__pycache__
.coverage